:root{
    --color-primary: #ee3425;
    --color-primary-1: #ee3425;
    --color-primary-2: #ee3425;
    --color-secondary: #fbdc00;
    --color-secondary-1: #ebbe00;
    --font-color: #434343;
    --font-color-heading: #000;
    --font-color-link: var(--color-primary);
    --font-family: "PT Sans",sans-serif;
    --font-family-heading: "Ubuntu",sans-serif;
    --font-size-xl: 18px;
    --font-size-lg: 16px;
    --font-size-md: 14px;
    --font-size-sm: 12px;
    --font-size-xs: 10px;
    --line-height: 1.5;
}
*{
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
    
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
    font-family: var(--font-family)!important;
    font-size: var(--font-size-md);
    line-height: var(--line-height);
    color: var(--font-color);
    -webkit-font-smoothing: antialiased;
}
a{
    color: var(--font-color-link);
    text-decoration: none;
}
h1 {
    font-size: 40px;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6, p {
font-family: var(--font-family-heading);
color: var(--font-color-heading);
}
h1{
    display: block;
    font-size: 2em;
    /* margin-block-start: 0.67em; */
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

    font-size: 40px;
    line-height: 1.2;

}
h2 {
    font-size: 40px;
    line-height: 1.2;
}
h4{
   
        display: block;
        /* margin-block-start: 1.33em; */
        margin-block-end: 1.33em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    
}
h3{
    font-size: 28px;
    line-height: 1.2;
}
p{
    display: block;
    /* margin-block-start: 1em; */
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 8px 106px;
    background: var(--color-secondary);
}
header.logo{
    margin-left: auto;
    display: block;
    cursor: pointer;
    flex-shrink: 0;

}
header .navbar{
    margin-right: auto;
    margin-left: auto;
    display: block;
    
}
header .navbar a{
    font-family: var(--font-family-heading);
    font-weight: 550!important;
    color: var(--font-color-heading);
    padding:0px 23px;
}
.auth{
    display: flex;
}
.auth .login{
    list-style-type: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.auth .login span{
    color: var(--font-color);
    font-weight:550!important;
}
.auth .signup_button{
    color: #fff;
    background-color: var(--color-primary)!important;
    border: 1px solid var(--color-primary);
    min-width: 72px;
    height: 36px;
    padding: 4px 16px;
    width: 100%;
    border-radius: 8px;
}

/* .home{
    position: absolute;
    width: 100%;

    background: url(https://cdn.cogoport.io/cms-prod/vault/original/home-banner-background-1.webp);
    background-color: var(--color-secondary);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    display: flex;
    margin: -8px;
    justify-content: space-between;
    align-items: center;
    
}
.home_content_container{
    width: 1180px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
} */

/* .home{
    position: absolute;
    width: 100%;

    background: url(https://cdn.cogoport.io/cms-prod/vault/original/home-banner-background-1.webp);
    background-color: var(--color-secondary);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    display: flex;
    margin: -8px;
    justify-content: space-between;
    align-items: center;
}
.home .content{
    height: 400px;
    width: 48%;
    float: left;
}
.home .content_img{
    height: 400px;
    width: 48%;
    float: right;
} */
.hero {
    padding: 16px ;
    padding-top: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(https://cdn.cogoport.io/cms-prod/vault/original/home-banner-background-1.webp);
    background-color: var(--color-secondary);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}
.hero .hero-content  {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 87px;
}
.hero .hero-content .content p{
    font-size: 16px;
    margin-bottom: 25px;
}
.hero .hero-content .content .btn{
    color: #fff;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    min-width: 72px;
    padding: 8px 42px!important;
    border-radius: 8px!important;
    height: 36px;
    font-family: var(--font-family);
    font-size: 14px!important;
    font-weight: 700!important;
}
.hero .hero-img {
    flex: 1.25;
    margin-bottom: -66px ;
    margin-left: 2em;
}

.counter{
    margin: 0px 83px !important;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
}
.counter .records{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: -40px;
}
.counter .records .sub-record{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.counter .records .sub-record h2{
    color: var(--color-primary);
    margin: 0px;
}
.counter .records .sub-record h4{
    font-size: 16px;
    margin: 0px 0px 16px;
}
.break{
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-radius: 18px;
    border-bottom-right-radius: 100% 150%;
    border-bottom-left-radius: 100% 150%;
}

.solution{
    padding: 16px!important;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    width: 1200px;
}
.solution .solution-content{
    flex:1 1
}
.solution .solution-content h2{ 
    margin-bottom: 10px;
}
.solution .solution-content p{ 
    font-size: 16px;
}

.solution  .solution-img{
display: flex;
flex: 1 1;
justify-content: flex-end;
}
.solution  .solution-img img{
    display: block;
    width: 500px;
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%;
}
.special-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    background: #fffef2;
}

/* product section */
.product-section{
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    
}
.product-section .product-title{
    text-align: center;
}

.product-section h3{
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 1em;
}

.product-section .product-container{

    display: flex;
    justify-content: space-between;
    background: #fffef2;
}

.product-section .product-container .product-container-items{
    display: flex;
    flex-direction: column;
}
.product-section .product-container .product-container-items .product-item{
    display: flex;
    align-items: center;
    margin: 14px 0;
}
.product-section .product-container .product-container-items .product-item .product-item-title{
    width: 300px;
    margin-right: 50px;
    font-size: 24px;
    color: #000;
}
.product-section .product-container .product-container-items .product-item .product-item-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-section .product-container .product-container-items .product-item .product-item-card .product-style-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 184px;
    height: 160px;
    padding: 10px 7px;
    margin: 10px;
    background: #fff;
    border: 1.5px solid transparent;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}

.product-section .product-container .product-container-items .product-item .product-item-card .product-style-card h4{
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.3em;
    text-align: center;
}

.product-section .product-container .product-container-items .product-item .product-item-card .product-style-card .styles_add_more__5vDZp {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    margin: 10px;
    font-weight: 700;
    color: var(--color-primary);
    cursor: pointer;
}
.product-section .product-container .product-container-items .product-item .product-item-card .product-style-card  span{
    margin-right: 4px;
}

/* company Brand Section  */
.company-brand{
    margin-bottom: 50px;
}
.company-brand .trust-title{
    text-align: center;
}
.company-brand .wrapper {
	display: flex;
	margin: 0 auto;
	overflow: hidden;
    justify-content: space-around;
    min-width: 100%;
	
}

.company-brand .wrapper .item {
	animation: animate 60s  linear infinite;
    animation-iteration-count: infinite;

    animation-play-state: running;
}
@keyframes animate {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-1100px, 0, 0);
	}
 

}
.company-brand .wrapper .item img {
	height: 100%;
    width: 100px;
   
}

/* Banner section */
.banner{
    margin-bottom: 50px;
    background: var(--color-secondary);
}
.banner-container{
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-title{
    padding: 25px 0;
}
.banner-title h3{
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 1.2;
}
.banner-button{
    color: #fff;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    min-width: 72px;
    height: 36px;
    padding: 4px 16px;
}

/* how it works */
.work{
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}
.work-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.work .work-main-container .switch-buttons{
    display: flex;
    justify-content: space-between;
}
.work .work-main-container .switch-buttons .switch-button-active{
    width: 200px;
    padding: 20px;
    margin: 0 20px;
    font-weight: 700;
    color: #000!important;
    border-radius: 20px;
    background-color: var(--color-secondary)!important;
    border: var(--color-secondary)!important;
    min-width: 72px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    cursor: pointer;
}

.work .work-main-container .switch-buttons .switch-button-inactive{
    width: 200px;
    padding: 20px;
    margin: 0 20px;
    font-weight: 700;
    color: #000!important;
    border-radius: 20px;
    background: #e5dfdf!important;
    border: grey!important;
    min-width: 72px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    cursor: pointer;
}
.work .work-main-container .work-style-container{
    position: relative;
    display: flex;
}
.work .work-main-container .work-style-container .work-card-1{
 
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
    margin-bottom: 120px;
}
.work .work-main-container .work-style-container  .styles_redtext__qNc_O{
    font-weight: 600;
    color: #ee3425;
    margin-bottom: 16px!important;
    font-size: 16px;
    font-family: "PT Sans",sans-serif;
}
.work .work-main-container .work-style-container  .styles_heading__GyQVu{
    display: flex;
    align-items: center;
    padding: 0 0 10px;
    margin: 0;
    list-style-position: outside;
}
.work .work-main-container .work-style-container  .styles_heading__GyQVu div{
padding-left: 8px;
font-size: 20px;
font-weight: 600;
}
.work .work-main-container   span{
    display:flex;
    }

.styles_para__7I1R1 {
    padding-bottom: 5px;
    padding-left: 8px;
    margin: 0;
    font-size: 16px !important;
    color: #434343;
    font-family: "PT Sans",sans-serif;
}
.styles_arrow1__hJg7v {
    position: absolute;
    top: 104px;
    left: 300px;
}
.styles_arrowimage__50gz2 {
    width: 150px;
    height: 60px;
}
.styles_arrow2__JOZhk {
    position: absolute;
    bottom: 225px;
    left: 300px;
}
.styles_imagecontainer__7Ps6C {
    display: flex;
    align-items: center;
    justify-content: center;
}
.styles_image__cFHAa {
    width: 560px;
    height: 320px;
    margin-bottom: 110px;
}
.styles_arrow3__XQhnr{
    position: absolute;
    top: 104px;
    right: 300px;
}
.styles_arrow4__W5PwF {
    position: absolute;
    right: 300px;
    bottom: 225px;
}



/* Industry section */
.industry{
    padding: 16px!important;
    margin-bottom: 50px;
    background: #fffef3;
}
.industry .industry-container{
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}
.industry .industry-container .industry-title{
    text-align: center;
}
.industry .industry-style-container{
display: flex;
flex-flow: row wrap;
align-content: space-between;
justify-content: space-between;
}

/* Trade section */
.tarde{
    margin-bottom: 50px;
}
.trade .trade-container{
    padding: 16px!important;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    display: flex;
    align-items: center;
    padding: 16px 100px!important;
}
.trade-context{
    flex:1 1;
}
.trade-context h2{
 margin-bottom: 10px;
}
.trade-context p{
    font-size: 16px !important;
    color: #434343;
    font-family: "PT Sans",sans-serif;
}
.styles_cta__aMGlp {
    display: inline-block;
    height: 40px;
    padding: 8px 42px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: var(--color-primary);
    border-radius: 8px;
}

.trade-image-container{
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
}

.trade-image-container .trade-image {
    display: block;
    width: 280px;
    height: 360px;
    -o-object-fit: contain;
    object-fit: contain;
}

/* Grow banner section  */
.grow{
    margin-bottom: 193px;
}
.grow-container{
    position: relative;
    height: 450px;
    cursor: pointer;
}
.grow-thumbnail{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background-color: rgba(0,0,0,.4);
}
.video-banner{
    background: var(--color-primary);
}
.video-banner-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    padding:16px;
    margin-right: auto;
    margin-left: auto;
}
.styles_header__knvrv {
    padding: 25px 0;
}
.video-banner{
    margin-top: -7px;
}
.video-banner h3 {
    margin-bottom: 10px;
    color: #fff!important;
}
.video-banner p {
    color: #fff!important;
}
.know-button{
    color: #000!important;
    background: var(--color-secondary)!important;
    border: 1px solid var(--color-primary);
    min-width: 72px;
    height: 36px;
    padding: 4px 16px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    cursor: pointer;
}
.styles_button_container__JiLtH {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "PT Sans",sans-serif;
    font-size: 14px!important;
    font-weight: 700!important;
}

/* Blog sction */
.blogs{
    width: 1200px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
}
.blog-container{
    display: flex;
    flex-direction: column;
}
.blog-title{
    text-align: center;
}
.styles_cards_container__1tjAy {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.styles_card__qp3LP {
    width: calc(calc(100% / 3) - 20px);
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    overflow: hidden;
    text-align: start;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 6px hsl(0deg 0% 79% / 50%);
}

.styles_card__qp3LP a {
    color: #000!important;
    text-decoration: none;
}
.styles_card_thumbnail__zF8QZ {
    display: block;
    width: 100%;
    height: 200px;
    background-color: #fbdc00;
    -o-object-fit: cover;
    object-fit: cover;
}
.styles_blog_card_content__eDCmr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 16px;
}
.styles_card_title__D5epU {
    margin-bottom: 5px;
    font-size: 16px!important;
    color: var(--color-primary);
}
.styles_card_name__aq9WH {
    margin-bottom: 5px;
    font-size: 18px;
    color: #000!important;
}
.styles_overview__Cb6CL {
    max-height: calc(1.4rem * 3);
    overflow: hidden;
    font-family: "PT Sans",sans-serif;
}
.styles_read_container__C9N_V {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.styles_read_more__6_oMk {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--color-primary);
    cursor: pointer;
}
.styles_card_title1__MR1j6 {
    margin-bottom: 5px;
    font-size: 14px!important;
    color: #9a9a9a;
}

.styles_button_container__NubT0 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.view-all-button{
    color: #fff;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    min-width: 72px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 42px;
    border-radius: 4px;
}
.view-all-button span{
    font-size: 14px;
    font-family: var( --font-family);
    font-weight: 700!important;
}

/* newsletter section */
.newsletter{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    margin-top: 20px;
    background-color: var(--color-secondary);
}

.news-letter-img-div{
    width: 20%;
    padding: 20px;
    margin: 20px;
}

.news-letter-img-div img{
    width: 100%;
    height: 100%;
}
.subscribe-container .subscribe-container-heading{
    margin-bottom: 0em !important;
}
.subscribe-container .subscribe-description{
    font-size: var(--font-size-lg);
}
.subscribe-input-container{
    margin-top: 20px;
}
.subscribe-input-form{
    display: flex;
}
.subscribe-input-container input[type=email] {
    box-sizing: border-box;
    display: inline-block;
    width: 250px;
    height: 40px;
    padding: 10px;
    border: 2px solid transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
}
.subscribe-input-container .form-button{
    color: #fff;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    min-width: 72px;
    padding: 4px 16px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px!important;
    height: 40px!important;
    text-align: center;
    text-decoration: none;
    background: #ee3425;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.newsletter::after{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    content: " ";
    background-color: #fff;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0 50px 50px;
    font-family: var(--font-family);
    background: #fbdc00;
}
.footer-container {
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.footer-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: underline;
}

.footer-items {
    display: flex;
    flex-direction: column;
}
.styles_footer_item__o877f {
    flex-direction: row;
    align-items: center;
    margin: 8px 0;
}
.styles_footer_list_item__VYTDf {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
}
.styles_footer_item__o877f {
    flex-direction: row;
    align-items: center;
    margin: 8px 0;
}
.styles_hyperlink__Amf1l {
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

/* port footer */
.styles_ports_container__PAuZ2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0;
    background-color: #ebbe00;
}
.styles_air_ports__Xt8cj, .styles_fcl_ports__2VFhx, .styles_lcl_ports__pgneX {
    display: flex;
    flex-direction: column;
}
.styles_port__z0ujg {
    line-height: 2rem;
}
.styles_port__z0ujg a {
    color: #000;
    text-decoration: none;
}

/* social handle footer */
.styles_bottom_footer__pr0sd {
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 30px;
    background: #ebbe00;
}
.styles_bottom_footer_left__7DOKA {
    display: flex;
    align-items: center;
}
.styles_copyright_list_cogo__y5Yaa {
    display: flex;
    margin-left: 10px;
    font-family: var(--font-family-heading);
    font-size: 12px;
    font-weight: 700;
    list-style-type: none;
}

.styles_copyright_list__zrvQ7 {
    display: flex;
    margin-left: 10px;
    font-family: var(--font-family-heading);
    font-size: 12px;
    font-weight: 700;
    list-style-type: none;
}
.styles_social_media__kHOsn {
    padding: 8px 30px;
}
.styles_copyright_list__zrvQ7 a {
    color: #000;
    text-decoration: none;
}
.styles_social_media__kHOsn svg {
    margin-right: 4px;
    color: #000;
    cursor: pointer;
}
.styles_list__jGq8v {
    margin-right: 5px;
    cursor: pointer;
}
/* media queries */
@media(max-width:991px){

}